/* GLOBAL CSS */
body {
    font-family: 'Ubuntu', sans-serif;
    color: black;
    /* margin: 20px auto; */
    position: relative;
    isolation: isolate;

}
body::after {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    background-image: url(../images/pawel-czerwinski-2PN18U8CKi0-unsplash.jpg);
    background-size: 100%;
    background-repeat: repeat;
    content: "";
    opacity: 0.8;
    z-index: -1;
}
/* SKIP TO CONTENT CSS */
a.skip {
    background: black;
    padding: 6px;
    -webkit-transition: top 1s ease-out;
    transition: left 1s ease-out;
    z-index: 1;
    position: absolute;
    left: -400px;
    top: -200px;
}

a.skip:focus {
    top: 20px;
    left: 0px;
    background-color: black;
    color: white;
}
/* NAV CSS */

nav {
    padding: 10px;
    background-color: #e00467;
    display: grid;
    grid-template-columns: auto auto;
}
nav .brand {
    justify-self: left;
    padding:10px;
}
nav .menuicon {
    justify-self: right;
    align-self: center;
    padding:10px;
}
nav h1 {
    font-size: 40px;
    font-weight: bold;
    padding: 0px;
    color: white;
}
nav ul {
    padding: 20px;
    display: none;
    transition: all .3s;
    margin: 0;
    padding: 0;
    color: white;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    list-style: none;
}
nav #menu {
    padding-left: 10px;
}

nav img {
    width:30px;
}
nav a {
    text-decoration: none;
    color: #fff;
    display: block;
    padding: 10px;
    transition: 1s ease;

}

nav .active {
    background-color: #f56ca3;
    color: #fff;
}

nav a:hover {
    background-color: #f56ca3;
    color: white;

}

/* BODY CSS */
#main {
    margin: 10px auto;
    width: 90%;
}
.name {
    margin-top: 30px
}
.para {
    margin-top: 40px;
    box-shadow: 0px 1px 1px #e00467;
    margin-bottom: 20px;
}
.para:hover {
    box-shadow: 0px 10px 10px #e00467;
}
.paraheading {
    padding: 10px;
    color: #e00467;
    font-size: 30px;
    font-weight: bold;
}
.parasubheading {
    padding: 10px;
    color: #e00467;
    font-size: 20px;
    font-weight: bold;
}
.para a {
    color: #e00467;
    text-decoration: none;
    transition: 0.3s ease;
    text-decoration: underline;
}

.para a:hover {
    background-color: #be0039;
}
.icon {
    font-size: 12px;
    color:#000;
    padding: 10px;
}

footer {
    background-color: #e00467;
    font-weight: bold;
    color: white;
    padding:10px;
    padding-right: 50px;
    display: grid;
    grid-template-columns: auto;
}
footer .backtotop {
    text-align: right;
}
footer .backtotop {
    color:#FFFFFF;
    font-weight: bold;
}
/* CSS FOR OTHER PAGES */
.grid {
    display: grid;
    grid-template-columns: auto;
}

.grid > .para {
    margin:20px;
}
.grid img {
    margin: auto;
    opacity: 1;
    transition: opacity 1s ease;
    width: 100%;
}

.grid img:hover {
    border: 5px dashed #be0039;
}
/* history */
.grid-3 {
    display: grid;
    grid-template-columns: auto;
}

.grid-3 > .para {
    margin:20px;
}
.grid-3 img {
    margin: auto;
    opacity: 1;
    transition: opacity 1s ease;
    width: 100%;
}

.grid-3 img:hover {
    border: 2px solid #555;
}


h1{
    font-size: 42px;
    text-align: center;
    padding: 15px;
}

h2 {
    font-size: 30;
    font-family: serif;
    color: whitesmoke;
}

p{
    font-size: 14pt;
    line-height: 2;
    padding-left: 10px;
    padding-right: 10px;
}


#logo{
    animation: logo 3s;
}

@keyframes logo {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}
.para-flex-1, .para-flex-2, .para-flex-3 {
    flex:100%;
    margin-top: 40px;
    box-shadow: 0px 1px 1px #8a2387;
    margin-bottom: 20px;
}

.para-flex-1:hover, .para-flex-2:hover, .para-flex-3:hover {
    box-shadow: 0px 2px 2px #8a2387;
}
@media screen and (min-width:768px) {
    .grid-3 {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .para-flex-1, .para-flex-2, .para-flex-3 {
        flex:50%;
    }
}
@media screen and (min-width:1281px) {
    nav img {
        display: none;
    }
    nav h1 {
        font-size: 30px;
        font-weight: bold;
    }
    nav ul {
        margin: 0;
        padding: 20;
        color: white;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        list-style: none;
        align-self: center;
        justify-self: end;
    }
    .para-flex-1, .para-flex-2, .para-flex-3 {
        flex:33%;
    }
    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .grid-3 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}